<h1>機能説明</h1>
<br>
<ol>
    <li>このアプリはタスク管理に使用します。</li>
    <li>メールアドレスとユーザーネームとパスワードでサインアップ出来ます。</li>
    <li>毎週のタスク完了の成果をグラフで確認できます。</li>
    <li>完了したタスクは毎週日曜日に自動削除されます。</li>
</ol>
<%= link_to "Homeへ",root_path %>